<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"
                ><img
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/logo-white.svg"
                    alt="logo"
                    width="264"
                    height="78"
            /></a>
            <p>
                Extra content if you need it, if not you can delete this whole p
                tag. I usually do.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Informacije</h2>
                    </li>
                    <li>
                        <a href="/">Početna</a>
                    </li>
                    <li>
                        <a href="/o-nama">O nama</a>
                    </li>
                    <li>
                        <a href="/kontakt">Kontakt</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Usluge</h2>
                    </li>
                    <li>
                        <a href="/pozivnice-za-vjencanja"
                            >Pozivnice i zahvalnice za vjenčanja</a
                        >
                    </li>
                    <li>
                        <a href="/jelovnici-i-cjenici">Jelovnici i cjenici</a>
                    </li>
                    <li><a href="/posjetnice">Posjetnice</a></li>
                    <li>
                        <a href="/dizajn-grafickog-identiteta"
                            >Dizajn grafičkog identiteta</a
                        >
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Kontakt</h2>
                    </li>
                    <li>
                        <a href="/kontakt">
                            {{ client.address.lineOne }}<br />
                            {{ client.address.lineTwo }}<br />
                            {{ client.address.city }}
                            {{ client.address.state }}
                            {{ client.address.zip }}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{ client.phoneForTel }}">
                            T: {{ client.phoneFormatted }}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{ client.email }}">Pošaljite email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://code404.hr" target="_blank" rel="noopener">Code 404</a>
        <span class="copyright"> Copyright {% year %} - Present</span>
    </div>
</footer>
