---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="../../assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">O nama</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Početna</a>
                <a href="" class="cs-link cs-active">O nama</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source
                media="(max-width: 600px)"
                srcset="
                    https://csimg.nyc3.digitaloceanspaces.com/Banners/library-m.jpg
                "
            />
            <source
                media="(min-width: 601px)"
                srcset="
                    https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg
                "
            />
            <img
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg"
                alt="library"
                width="1920"
                height="375"
            />
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-578">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source
                    media="(max-width: 600px)"
                    srcset="
                        https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room.jpg
                    "
                />
                <!--Tablet and above Image-->
                <source
                    media="(min-width: 601px)"
                    srcset="
                        https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room.jpg
                    "
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room.jpg"
                    alt="room"
                    width="494"
                    height="700"
                />
            </picture>
            <div class="cs-content">
                <span class="cs-topper">O nama</span>
                <h2 class="cs-title">Obiteljska tradicija od 1989. godine</h2>
                <p class="cs-text">
                    Tiskara Charlot osnovana je 1989. godine kao obiteljska
                    fotokopirnica i papirnica smještena u samom centru Splita.
                </p>
                <p class="cs-text">
                    S vremenom smo proširili našu ponudu i usavršili se u
                    grafičkoj industriji, prateći tehnološke inovacije. Danas
                    nudimo širok spektar usluga, uključujući dizajn, grafičku
                    pripremu, digitalni tisak, tisak velikog formata, izradu
                    pečata i lasersko graviranje.
                </p>
                <p class="cs-text">
                    Također, specijalizirani smo za izradu i tisak proizvoda za
                    vjenčanja, poput pozivnica i zahvalnica.
                </p>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
