---
title: "Dizajn grafičkog identiteta"
description: "Usluga dizajna grafičkog identiteta za firme"
preloadImg: "/assets/images/imagename.format"
permalink: "dizajn-grafickog-identiteta/"
eleventyNavigation:
    key: Dizajn grafičkog identiteta
    order: 2400
    parent: Digitalni tisak
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/graf-identitet.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Dizajn grafičkog identiteta</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Početna</a>
                <a href="" class="cs-link cs-active"
                    >Dizajn grafičkog identiteta</a
                >
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source
                media="(max-width: 600px)"
                srcset="
                    https://csimg.nyc3.digitaloceanspaces.com/Banners/library-m.jpg
                "
            />
            <source
                media="(min-width: 601px)"
                srcset="
                    https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg
                "
            />
            <img
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg"
                alt="library"
                width="1920"
                height="375"
            />
        </picture>
    </div>

    {% include 'components/cta.html' %}
{% endblock %}
