---
title: "Charlot | Ostale usluge"
description: "Ostale usluge tiska"
preloadImg: "/assets/images/imagename.format"
permalink: "ostale-usluge/"
eleventyNavigation:
    key: Ostale usluge
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/ostale-usluge.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Ostale usluge</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Početna</a>
                <a href="" class="cs-link cs-active">Ostale usluge</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source
                media="(max-width: 600px)"
                srcset="../../assets/images/ostale-usluge-header-m.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="../../assets/images/ostale-usluge-header.webp"
            />
            <img
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="../../assets/images/ostale-usluge-header.webp"
                alt="library"
                width="1920"
                height="375"
            />
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="RTsbs-581">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source
                    media="(max-width: 600px)"
                    srcset="../../assets/images/tampon-tisak.webp"
                />
                <!--Tablet and above Image-->
                <source
                    media="(min-width: 601px)"
                    srcset="../../assets/images/tampon-tisak.webp"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="../../assets/images/tampon-tisak.webp"
                    alt="tampon tisak"
                    width="494"
                    height="700"
                />
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Tampon tisak</span>
                <h2 class="cs-title">Tisak na svakom materijalu</h2>
                <p class="cs-text">
                    Tampon tisak je tehnika indirektnog tiska za koju se
                    izrađuju klišeji, koji predstavljaju tiskovnu formu, s
                    udubljenim tiskovnim elementima. Otisak se postiže tako što
                    se boja pomoću elastičnog gumenog tampona s metalne ploče
                    klišeja prenosi na tiskovnu podlogu, odnosno željeni
                    predmet. Budući da su tamponi izrađeni od mekane gume,
                    otisak se može postići i na mekšim predmetima bez straha od
                    njihovog oštećivanja.
                </p>
                <p class="cs-text">
                    Tampon tisak je idealan za male predmete, gdje će se
                    koristiti otisak promjera do 10 cm. Iz tog razloga, najčešći
                    artikli za tampon tisak su: olovke, upaljači, razni
                    privjesci, šalice, pepeljare i ostali promotivni artikli.
                    Osim toga, tampon tisak je kao stvoren za dotisak amblema na
                    plastične, keramičke i staklene proizvode kao što su šalice
                    za kavu, čaše, tanjuri i slični obli ili udubljeni predmeti.
                    Ako su u pitanju manje količine za tisak, te ako je promjer
                    otiska veći od 10 cm, preporučujemo sitotisak.
                </p>
                <!--                   
    These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
-->

                <ul id="list-822" class="cs-ul">
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
                            alt="arrow"
                            width="16"
                            height="18"
                        />
                        Tisak na neravne/nepravilne površine
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
                            alt="arrow"
                            width="16"
                            height="18"
                        />
                        Tisak na udubljene površine
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
                            alt="arrow"
                            width="16"
                            height="18"
                        />
                        Dvokomponentna boja
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
                            alt="arrow"
                            width="16"
                            height="18"
                        />
                        Tisak otporniji na habanje
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
                            alt="arrow"
                            width="16"
                            height="18"
                        />
                        Brzo sušenje i isporuka velikih količina u kratkom roku
                    </li>
                </ul>

                <a href="/contact" class="cs-button-solid">Zatražite ponudu</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="RTsbsr-581">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source
                    media="(max-width: 600px)"
                    srcset="../../assets/images/izrada-magneta.webp"
                />
                <!--Tablet and above Image-->
                <source
                    media="(min-width: 601px)"
                    srcset="../../assets/images/izrada-magneta.webp"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="../../assets/images/izrada-magneta.webp"
                    alt="magneti"
                    width="494"
                    height="700"
                />
            </picture>
            <div class="cs-content">
                <span class="cs-topper"
                    >Brza izrada personaliziranih magneta i bedževa</span
                >
                <h2 class="cs-title">
                    Dizajniranje i tiskanje magneta i bedževa za svaki događaj
                </h2>
                <p class="cs-text">
                    Dizajniranje i tiskanje magneta i bedževa pruža jednostavan
                    način za stvaranje personaliziranih promotivnih proizvoda,
                    suvenira ili poklona. Naši proizvodi su idealni za
                    brendiranje, sajmove, promocije ili kao originalni pokloni
                    za različite prigode.
                </p>
                <p class="cs-text">
                    bilo da želite jednostavan logo, slogan ili kompleksniji
                    grafički dizajn. Naša usluga uključuje izradu
                    personaliziranih magneta i bedževa koji savršeno odgovaraju
                    vašim potrebama, a sve uz brzu izradu i visoku kvalitetu
                    tiska.
                </p>
                <a href="/contact" class="cs-button-solid">Zatražite ponudu</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="RTsbst-581">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source
                    media="(max-width: 600px)"
                    srcset="../../assets/images/lasersko-graviranje.webp"
                />
                <!--Tablet and above Image-->
                <source
                    media="(min-width: 601px)"
                    srcset="../../assets/images/lasersko-graviranje.webp"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="../../assets/images/lasersko-graviranje.webp"
                    alt="lasersko graviranje"
                    width="494"
                    height="700"
                />
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Lasersko graviranje</span>
                <h2 class="cs-title">
                    Izrada trajnih gravura na raznim površinama
                </h2>
                <p class="cs-text">
                    Lasersko graviranje je precizna tehnika koja omogućava
                    izradu trajnih gravura na različitim materijalima poput
                    drva, metala, stakla i plastike. Ova metoda omogućava
                    detaljne gravure koje se ne brišu i ne oštećuju, što je čini
                    odličnim rješenjem za personalizaciju proizvoda i izradu
                    logotipa ili oznaka.
                </p>
                <p class="cs-text">
                    Naša usluga laserskog graviranja omogućava brzu izradu
                    gravura prema vašim željama. Bilo da želite jednostavan
                    tekst, logo ili složeniji dizajn, osiguravamo jasne i
                    dugotrajne rezultate.
                </p>
                <a href="/contact" class="cs-button-solid">Zatražite ponudu</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
