---
title: "Posjetnice | Charlot"
description: "Izrada posjetnica"
preloadImg: "/assets/images/imagename.format"
permalink: "posjetnice/"
eleventyNavigation:
    key: Posjetnice
    order: 2300
    parent: Digitalni tisak
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/posjetnice.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Posjetnice</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Početna</a>
                <a href="" class="cs-link cs-active">Posjetnice</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source
                media="(max-width: 600px)"
                srcset="../../assets/images/posjetnice-header-m.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="../../assets/images/posjetnice-header.webp"
            />
            <img
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="../../assets/images/posjetnice-header.webp"
                alt="upoznavanje"
                width="1920"
                height="375"
            />
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                 Side By Side                -->
    <!-- ============================================ -->

    <section id="sbs-1984">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">pr(a)vi dojam </span>
                <h2 class="cs-title">
                    Dizajn i tisak posjetnica za poduzetnike i tvrtke
                </h2>
                <p class="cs-text">
                    Posjetnice igraju ključnu ulogu u poslovnoj komunikaciji,
                    ostavljajući snažan dojam pri svakom predstavljanju.
                    Pažljivo osmišljen dizajn odražava identitet tvrtke ili
                    pojedinca, dok kvalitetan tisak osigurava dugotrajnost i
                    vizualnu prepoznatljivost. Nudimo različite formate, završne
                    obrade i materijale kako bi svaka posjetnica bila
                    prilagođena vašim potrebama.
                </p>
                <p class="cs-text">
                    Posjetnice najčešće sadrže ime, naziv i logotip tvrtke ili
                    organizacije, te informacije o kontaktu, kao što su adresa,
                    telefonski broj, broj mobitela, broj faksa, e-mail adresa i
                    adresa web stranica. Ponekad se na posjetnicama nalaze i
                    porezni broj, OIB te broj poslovnog računa. Posjetnice
                    (vizitke, vizitkarte) mogu biti jednostrane ili dvostrane.
                    Kod dvostranih vizitki često se na drugu stranu stavljaju
                    informacije istovjetne onima na prvoj strani, ali na nekom
                    drugom jeziku.
                </p>
                <!--                   
    These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
-->

                <ul id="list-822" class="cs-ul">
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
                            alt="arrow"
                            width="16"
                            height="18"
                        />
                        Stavka 1
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
                            alt="arrow"
                            width="16"
                            height="18"
                        />
                        Stavka 2
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
                            alt="arrow"
                            width="16"
                            height="18"
                        />
                        Stavka 3
                    </li>
                </ul>

                <a href="/kontakt" class="cs-button-solid">Pošaljite upit</a>
            </div>
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="../../assets/images/vizitka-1.webp"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="../../assets/images/vizitka-1.webp"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="../../assets/images/vizitka-1.webp"
                        alt="posjetnica"
                        width="547"
                        height="180"
                    />
                </picture>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="../../assets/images/vizitka-2.webp"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="../../assets/images/vizitka-2.webp"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="../../assets/images/vizitka-2.webp"
                        alt="vizitka"
                        width="547"
                        height="180"
                    />
                </picture>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="../../assets/images/vizitka-3.webp"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="../../assets/images/vizitka-3.webp"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="../../assets/images/vizitka-3.webp"
                        alt="izrada posjetnica"
                        width="547"
                        height="180"
                    />
                </picture>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
