---
title: "Pozivnice za vjenčanja"
description: "Sve o našim ulugama izrada pozivnica za vjenčanja"
preloadImg: "/assets/images/imagename.format"
permalink: "pozivnice-za-vjencanja/"
eleventyNavigation:
    key: Pozivnice za vjenčanja
    order: 2100
    parent: Digitalni tisak
    <!-- hideOnMobile: Optional - set to "true" to hide on devices from, and below, 1023px
    hideOnDesktop: Optional - set to "true" to hide on devices above, and including, 1024px -->
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/pozivnice-za-vjencanja.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Pozivnice za vjenčanja</span>
            <div class="cs-breadcrumbs">
                <a href="" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">Pozivnice za vjenčanja</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source
                media="(max-width: 600px)"
                srcset="../../assets/images/pozivnice_header_m.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="../../assets/images/pozivnice_header.webp"
            />
            <img
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="../../assets/images/pozivnice_header.webp"
                alt="library"
                width="1920"
                height="375"
            />
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-2179">
        <div class="cs-container">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source
                    media="(max-width: 600px)"
                    srcset="../../assets/images/pozivnice-sbs.webp"
                />
                <!--Tablet and above Image-->
                <source
                    media="(min-width: 601px)"
                    srcset="../../assets/images/pozivnice-sbs.webp"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="../../assets/images/pozivnice-sbs.webp"
                    alt="pozivnice za vjencanje"
                    width="384"
                    height="509"
                />
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Tisak pozivnica za vjenčanje</span>
                <h2 class="cs-title">
                    Pozivnice kojima otvarate vrata nezaboravnom danu
                </h2>
                <p class="cs-text">
                    Pozivnice stvaraju prvi dojam vašeg posebnog dana i
                    najavljuju atmosferu proslave. Njihov dizajn odražava
                    emociju, osobni stil i temu vjenčanja, stvarajući uspomenu
                    koju će vaši gosti cijeniti. Od elegantnih klasičnih do
                    modernih i odvažnih rješenja, svaki detalj igra ključnu
                    ulogu u oblikovanju vizualnog identiteta. Pažljivo odabrani
                    materijali, sklad boja i završne obrade poput foliotiska ili
                    reljefnog ispisa daju pozivnicama poseban karakter i
                    estetsku vrijednost.
                </p>
                <p class="cs-text">
                    Kreativne ilustracije, rukom pisani detalji ili
                    minimalistički dizajn omogućuju mladencima da izraze svoju
                    osobnost i podijele svoju ljubavnu priču na poseban način.
                    Pozivnice nisu samo informativni element, već trajna
                    uspomena koja najavljuje početak zajedničkog puta.
                </p>
                <a href="/kontakt" class="cs-button-solid">zatraži ponudu</a>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="../../assets/images/pozivnice-sbs-small.webp"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="../../assets/images/pozivnice-sbs-small.webp"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="../../assets/images/pozivnice-sbs-small.webp"
                        alt="tiskanje pozivnica"
                        width="383"
                        height="262"
                    />
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-1667">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="../../assets/images/vjencanje-usluge.webp"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="../../assets/images/vjencanje-usluge.webp"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="../../assets/images/vjencanje-usluge.webp"
                        alt="usluge za vjencanje"
                        width="605"
                        height="690"
                    />
                </picture>
                <!--SVG Graphic-->
                <!-- <img
                    class="cs-floater"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-swirl.svg"
                    alt="graphic"
                    loading="lazy"
                    decoding="async"
                    height="710"
                    aria-hidden="true"
                    width="690"
                /> -->
            </div>
            <div class="cs-content">
                <span class="cs-topper">Što je sve u ponudi</span>
                <h2 class="cs-title">
                    Široki izbor pozivnica i zahvalnica za vjenčanje
                </h2>
                <p class="cs-text">
                    Osim pozivnica, izrađujemo i zahvalnice za vjenčanja,
                    prilagođene svakom paru kako bi njihov poseban dan započeo
                    na najbolji način.Nudimo širok izbor elegantnih,
                    personaliziranih zahvalnica koje odražavaju stil i tematiku
                    vašeg vjenčanja. Od klasičnih kartica do modernih dizajna s
                    luksuznim završnim obradama, svaki detalj prilagođavamo
                    vašim željama.
                </p>
                <ul class="cs-faq-group">
                    <li class="cs-faq-item active">
                        <button class="cs-button">
                            <img
                                class="cs-icon"
                                aria-hidden="true"
                                loading="lazy"
                                decoding="async"
                                src="../../assets/svgs/gotovi-predlosci.svg"
                                alt="predlosci-icon"
                                width="32"
                                height="32"
                            />
                            <span class="cs-button-text">
                                Gotovi predlošci
                            </span>
                            <span
                                class="cs-indicator"
                                aria-hidden="true"
                            ></span>
                        </button>
                        <p class="cs-item-p">
                            Od klasičnih, elegantnih do modernih i kreativnih
                            dizajna, nudimo različite stilove pozivnica
                            prilagođene svakom paru. Možete odabrati materijale,
                            boje i motive koji najbolje odražavaju vašu priču.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <img
                                class="cs-icon"
                                aria-hidden="true"
                                loading="lazy"
                                decoding="async"
                                src="../../assets/svgs/custom-print.svg"
                                alt="icon"
                                width="32"
                                height="32"
                            />
                            <span class="cs-button-text">
                                Tiskanje Vašeg dizajna
                            </span>
                            <span
                                class="cs-indicator"
                                aria-hidden="true"
                            ></span>
                        </button>
                        <p class="cs-item-p">
                            Ako već imate osmišljen dizajn, omogućujemo precizan
                            tisak koji će vjerno prenijeti vaše ideje na
                            odabrani materijal. Bez obzira na format, boje ili
                            posebne dorade, vaš koncept dobit će savršen izgled.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <img
                                class="cs-icon"
                                aria-hidden="true"
                                loading="lazy"
                                decoding="async"
                                src="../../assets/svgs/pozivnica.svg"
                                alt="icon"
                                width="32"
                                height="32"
                            />
                            <span class="cs-button-text">
                                Sve vrste pozivnica
                            </span>
                            <span
                                class="cs-indicator"
                                aria-hidden="true"
                            ></span>
                        </button>
                        <p class="cs-item-p">
                            Od klasičnih, elegantnih do modernih i kreativnih
                            dizajna, nudimo različite stilove pozivnica
                            prilagođene svakom paru. Možete odabrati materijale,
                            boje i motive koji najbolje odražavaju vašu priču.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <img
                                class="cs-icon"
                                aria-hidden="true"
                                loading="lazy"
                                decoding="async"
                                src="../../assets/svgs/potpuna-usluga.svg"
                                alt="icon"
                                width="32"
                                height="32"
                            />
                            <span class="cs-button-text">
                                Kompletan set za vjenčanje
                            </span>
                            <span
                                class="cs-indicator"
                                aria-hidden="true"
                            ></span>
                        </button>
                        <p class="cs-item-p">
                            Uz pozivnice i zahvalnice, izrađujemo i prateće
                            materijale poput jelovnika, rasporeda sjedenja,
                            programa ceremonije i kartica s imenima gostiju.
                        </p>
                    </li>
                </ul>
                <a href="/kontakt" class="cs-button-solid">više informacija</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-434">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Portfolio</span>
                <h2 class="cs-title">Naši radovi</h2>
            </div>
            <div class="cs-grid">
                <!--In order from top left to top right, then bottom left to bototm right-->
                <!--Picture 1-->
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="424"
                        height="190"
                    />
                </picture>
                <!--Picture 2-->
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="571"
                        height="390"
                    />
                </picture>
                <!--Picture 3-->
                <picture class="cs-picture cs-picture3">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="268"
                        height="190"
                    />
                </picture>
                <!--Picture 4-->
                <picture class="cs-picture cs-picture4">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="268"
                        height="190"
                    />
                </picture>
                <!--Picture 5-->
                <picture class="cs-picture cs-picture5">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="268"
                        height="390"
                    />
                </picture>
                <!--Picture 6-->
                <picture class="cs-picture cs-picture6">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="425"
                        height="390"
                    />
                </picture>
                <!--Picture 7-->
                <picture class="cs-picture cs-picture7">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="273"
                        height="190"
                    />
                </picture>
                <!--Picture 8-->
                <picture class="cs-picture cs-picture8">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="273"
                        height="190"
                    />
                </picture>
                <!--Picture 9-->
                <picture class="cs-picture cs-picture9">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="268"
                        height="390"
                    />
                </picture>
                <!--Picture 10-->
                <picture class="cs-picture cs-picture10">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="268"
                        height="390"
                    />
                </picture>
                <!--Picture 11-->
                <picture class="cs-picture cs-picture11">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2-m.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
                        alt="gallery image"
                        width="268"
                        height="190"
                    />
                </picture>
            </div>
        </div>
    </section>

    <script>
        const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
        for (const item of faqItems) {
            const onClick = () => {
                item.classList.toggle("active");
            };
            item.addEventListener("click", onClick);
        }
    </script>
{% endblock %}
