/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-310 {
    /* 144px - 252px */
    padding-top: clamp(9rem, 25vw, 15.75rem);
    /* 80px - 140px */
    padding-bottom: clamp(5rem, 13vw, 8.75rem);
    position: relative;
    z-index: 1;
  }
  #banner-310 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #banner-310 .cs-int-title {
    /* 39px - 49px */
    font-size: clamp(2.4375rem, 4.5vw, 3.0625rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 auto 0.75rem;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-310 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-310 .cs-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-310 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-310 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-310 .cs-link:after {
    /* chevron - added as pseudo to make adding and removing them easier */
    content: "";
    width: 0.4375rem;
    height: 0.75rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background: url("https://csimg.nyc3.digitaloceanspaces.com/Banners/chevron-right.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  #banner-310 .cs-link.cs-active {
    color: var(--primaryLight);
  }
  #banner-310 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
  }
  #banner-310 .cs-background:before {
    /* black overlay box */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.72;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-310 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1984 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-1984:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.05;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1984 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #sbs-1984 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1984 .cs-text {
    margin-bottom: 1.5rem;
  }
  #sbs-1984 .cs-ul {
    margin: 0 0 2rem 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #sbs-1984 .cs-li {
    font-size: 1rem;
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    position: relative;
  }
  #sbs-1984 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #sbs-1984 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    margin: 0;
    /* 32px - 48px */
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-1984 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #1a1a1a;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1984 .cs-button-solid:hover {
    color: #fff;
  }
  #sbs-1984 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1984 .cs-image-group {
    font-size: min(2.7vw, 1rem);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    order: -1;
    row-gap: 2em;
  }
  #sbs-1984 .cs-picture {
    width: 90%;
    height: 11.25em;
    box-sizing: border-box;
    background-color: #dab692;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    grid-column: span 12;
    display: block;
    z-index: 2;
  }
  #sbs-1984 .cs-picture:nth-of-type(even) {
    margin-left: auto;
  }
  #sbs-1984 .cs-picture:hover img {
    transform: scale(1.1);
  }
  #sbs-1984 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1984 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
  }
  #sbs-1984 .cs-content {
    /* changes to 100% at 1300px */
    width: 43vw;
    max-width: 39.375rem;
    padding: 4rem 0;
    align-self: center;
  }
  #sbs-1984 .cs-image-group {
    width: 47vw;
    height: 100%;
    min-height: 35.75rem;
    max-width: 35.125rem;
    /* going absolute so we can make it responsive to the content inside the cs-content area. */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  #sbs-1984 .cs-picture {
    height: auto;
  }
}
/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbs-1984 .cs-content {
    width: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1984 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #sbs-1984 .cs-title,
  body.dark-mode #sbs-1984 .cs-text,
  body.dark-mode #sbs-1984 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1984 .cs-text,
  body.dark-mode #sbs-1984 .cs-li {
    opacity: 0.8;
  }
}
/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-822 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
#list-822 {
  width: 100%;
  margin: 0 0 2rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* 16px - 24px */
  gap: clamp(1rem, 2.5vw, 1.5rem);
}
#list-822 .cs-li {
  /* 16px - 20px */
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 700;
  list-style: none;
  line-height: 1.5em;
  width: 100%;
  color: var(--headerColor);
  display: flex;
  justify-content: flex-start;
  /* push icon top the top so if the list item goes to two lines the icon stays at the top */
  align-items: flex-start;
  gap: 1.25rem;
}
#list-822 .cs-icon {
  /* adds extra space between the icon and top of parent so it's more centered */
  margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
}

/* Dark Mode, copy and paste only the styles inside the #list-822 brackets into your section's dark mode media query */
body.dark-mode #list-822 .cs-li {
  color: var(--bodyTextColorWhite);
}
body.dark-mode #list-822 .cs-icon {
  filter: brightness(150%);
}

/*# sourceMappingURL=posjetnice.css.map */
