---
title: "Charlot tiskara | najbolje mjesto za digitalni tisak u Splitu"
description: "Početna stranica"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Početna
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-444">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-tag">tiskara charlot</span>
                <h1 class="cs-title">
                    Profesionalni tisak za pozivnice, posjetnice i cjenike.
                </h1>
                <p class="cs-text">
                    U Charlotu vjerujemo da svaki detalj treba biti savršen.
                    Kvaliteta tiska i pažljivo odabrani materijali čine naš rad
                    prepoznatljivim.
                </p>
            </div>
            <a href="/kontakt" class="cs-cta">
                <!--Arrow Right-->
                <svg
                    class="cs-arrow"
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                >
                    <path
                        fill="#FAFBFC"
                        d="M24.55 31.367c-.317 0-.633-.117-.883-.367a1.258 1.258 0 0 1 0-1.767L32.9 20l-9.233-9.233a1.258 1.258 0 0 1 0-1.767 1.258 1.258 0 0 1 1.766 0L35.55 19.117a1.258 1.258 0 0 1 0 1.766L25.433 31c-.25.25-.566.367-.883.367Z"
                    />
                    <path
                        fill="#FAFBFC"
                        d="M34.383 21.25H6.333A1.26 1.26 0 0 1 5.083 20c0-.683.567-1.25 1.25-1.25h28.05c.684 0 1.25.567 1.25 1.25a1.26 1.26 0 0 1-1.25 1.25Z"
                    />
                </svg>
                <!--Wrapped in a span so it can be animated-->
                <span class="cs-cta-text">Zatraži ponudu</span>
            </a>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source
                media="(max-width: 600px)"
                srcset="
                ./assets/images/hero_bg_mobile.webp
                "
            />
            <source
                media="(min-width: 601px)"
                srcset="
                ./assets/images/hero-background.webp
                "
            />
            <img
                loading="lazy"
                decoding="async"
                src="./assets/images/hero-background.webp"
                alt="leaf"
                width="1920"
                height="1000"
                aria-hidden="true"
            />
        </picture>
    </section>

    <!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-572">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/logo1.png" alt="logo" width="287" height="65" loading="lazy" decoding="async">
        <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/logo2.png" alt="logo" width="229" height="55" loading="lazy" decoding="async">
        <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/logo3.png" alt="logo" width="235" height="53" loading="lazy" decoding="async">
        <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/logo4.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
    </div>
</section>
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-297">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-number">35</span>
                <span class="cs-desc">godina i nikad nas neće štufat</span>
                <!--Background image for cs-box-->
                <picture class="cs-box-picture">
                    <source media="(max-width: 600px)" srcset="./assets/images/side_side_landing.webp">
                    <source media="(min-width: 601px)" srcset="./assets/images/side_side_landing.webp">
                    <img loading="lazy" decoding="async" src="./assets/images/side_side_landing.webp" alt="greek pillars" width="521" height="672" aria-hidden="true">
                </picture>
            </div>
            <!--Big Background Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="./assets/images/side_side_landing.webp">
                <source media="(min-width: 601px)" srcset="./assets/images/side_side_landing.webp">
                <img loading="lazy" decoding="async" src="./assets/images/side_side_landing.webp" alt="greek pillars" width="521" height="672" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Tisak po mjeri</span>
            <h2 class="cs-title">Prilagođena rješenja za poslovne i svečane trenutke
            </h2>
            <p class="cs-text">
                Vjerujemo da svaki tiskani materijal nosi poruku. Zato biramo vrhunske materijale, precizne tehnike tiska i pažljivo osmišljen dizajn kako bismo vam pružili tiskane proizvode visoke kvalitete.</p>
            </p>
            <p class="cs-text">
                Ako trebate  personalizirane pozivnice za vjenčanje, profinjene vizitke ili pomno dizajnirane cjenike, svaki detalj prilagođavamo vašim željama.
            </p>
            <p class="cs-text">Nazovite za bilo kakva pitanja: <a class="cs-link" href="tel:">(555) 455-4555</a></p>
            <a href="/pozivnice-za-vjencanja" class="cs-button-solid">Više detalja</a>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1338">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">što radimo</span>
            <h2 class="cs-title">Najbolje mjesto za digitalni tisak u Splitu</h2>
            <p class="cs-text">
                Specijalizirani smo za izradu i tisak proizvoda za vjenčanja, poput pozivnica i zahvalnica.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/pozivnice-za-vjencanja" class="cs-link">
                    <span class="cs-number">01</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="./assets/images/pozivnice-thumbnail.webp">
                        <source media="(min-width: 601px)"
                                srcset="./assets/images/pozivnice-thumbnail.webp">
                        <img decoding="async"
                                src="./assets/images/pozivnice-thumbnail.webp"
                                alt="izrada pozivnica" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Pozivnice za vjenčanja</h3>
                        <p class="cs-item-text">
                            Posebni trenutci zaslužuju savršen dizajn
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="/posjetnice" class="cs-link">
                    <span class="cs-number">02</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="./assets/images/vizitke-thumbnail.webp">
                        <source media="(min-width: 601px)"
                                srcset="./assets/images/vizitke-thumbnail.webp">
                        <img decoding="async"
                                src="./assets/images/vizitke-thumbnail.webp"
                                alt="izrada vizitki" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Posjetnice</h3>
                        <p class="cs-item-text">
                            Ostavite pravi dojam
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="/jelovnici-i-cjenici" class="cs-link">
                    <span class="cs-number">03</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="./assets/images/cjenici-thumbnail.webp">
                        <source media="(min-width: 601px)"
                                srcset="./assets/images/cjenici-thumbnail.webp">
                        <img decoding="async"
                                src="./assets/images/cjenici-thumbnail.webp"
                                alt="tisak cjenika" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Izrada cjenika</h3>
                        <p class="cs-item-text">
                            Prilagođeno svim vrstama ugostiteljstva
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="/dizajn-grafickog-identiteta" class="cs-link">
                    <span class="cs-number">04</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="./assets/images/graficki-identitet-thumbnail.webp">
                        <source media="(min-width: 601px)"
                                srcset="./assets/images/graficki-identitet-thumbnail.webp">
                        <img decoding="async"
                                src="./assets/images/graficki-identitet-thumbnail.webp"
                                alt="dizajn-grafickog-identiteta" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Dizajn grafičkog identiteta</h3>
                        <p class="cs-item-text">
                            Stvaranje identiteta koji odražava vašu viziju 
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-289">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Zašto raditi s nama</span>
                <h2 class="cs-title">Charlot je mjesto gdje ideje postaju opipljive</h2>
            </div>
            <p class="cs-text">
                Charlot nije samo tiskara – mi smo tim kreativaca koji vjeruju da je svaki tiskani materijal odraz osobnosti i profesionalnosti. Od osnutka smo posvećeni pružanju vrhunske kvalitete tiska za klijente koji traže kvalitetu, estetiku i dugotrajni dojam.

            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/award.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Tradicija i iskustvo</h3>
                <p class="cs-item-text">
                    Naša stručnost dolazi s godinama predanog rada i kontinuiranog razvoja, osiguravajući preciznost i profesionalne rezultate u svakom projektu.</p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild-black.svg" alt="icon" width="40" height="48">
                <h3 class="cs-h3">Vrhunska tehnologija</h3>
                <p class="cs-item-text">
                    Korištenje najsuvremenijih digitalnih printera za točnu reprodukciju boja, oštru rezoluciju i izvedbu složenih dizajna s besprijekornom preciznošću.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/call.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Pravovremena isporuka</h3>
                <p class="cs-item-text">
                    Surađujemo s klijentima kako bismo razumjeli njihove rokove i osigurali jasan raspored proizvodnje koji odgovara njihovim potrebama.

                </p>
            </li>
        </ul>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}
